@use "util/global" as *;

@include setup;

:root {
  --clr-heading: #{$spanish-gray};
  --clr-heading-strong: #{$dark-jungle-green};
  --clr-paragraph: #{$dark-jungle-green};
  --clr-input-border: #{$lavender-blue};
  --clr-input-placeholder: #{$vodka};
  --clr-input-text: #{$dark-jungle-green};
  --clr-button-bg: #{$blueberry};
  --clr-button-text: #{$white};
  --clr-copyright: #{$spanish-gray};
  --clr-link: #{$blueberry};
  --clr-link-hover: #{$white};
  --clr-error: #{$firey-rose};
}

body {
  font-family: "Libre Franklin", sans-serif;
  padding: rem(83px) rem(28px) rem(37px);
  max-width: rem(640px);
  margin-inline: auto;
  @media (min-width: $bp1) {
    padding: rem(80px) rem(37px) rem(49px);
  }
}
