$REM: 16;

// Colors

$vodka: hsl(224, 60%, 83%);
$lavender-blue: hsl(223, 100%, 88%);
$blueberry: hsl(223, 87%, 63%);
$dark-jungle-green: #151f28;
$spanish-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);
